<nav class="dropdowns" itemprop="mainEntity" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
    <div class="wrapper">
        <!--<div class='profilemenu'>-->
        <!--<img alt='Admin' src='https://2.bp.blogspot.com/-GsQfvTESyZA/Vz_pQX3IkmI/AAAAAAAAD7A/z4uqNAtlPmMZhho4wbUcyMOFfYckJUQ7ACLcB/s1600/noimage.png' title='Admin'/>-->
        <!--<h3>Nama Admin</h3>-->
        <!--<a class='ripple' href='javascript:;' id='info2'>
            <i class='fa fa-caret-down'></i>
        </a>-->
        <!--<p>emailkamu@gmail.com</p>-->
        <!--<ul id='nav-menu1'>-->
        <!--<li>
            <a class='waves-effect' href='#' itemprop='url'>
                <span itemprop='name'>Google+</span></a>
        </li>-->
        <!--<li>
            <a class='waves-effect' href='#' itemprop='url'>
                <span itemprop='name'>Facebook</span></a>
        </li>-->
        <!--<li>
            <a class='waves-effect' href='#' itemprop='url'>
                <span itemprop='name'>Twitter</span></a>
        </li>-->
        <!--</ul>-->
        <!--</div>-->
        <ul class="nav nav-menu2">
            <li>
                <a class="waves-effect" href="http://www.idblanter.com/" itemprop="url" title="Masign Grid">
                    <span itemprop="name"><i class="fa fa-home"></i> Home</span></a>
            </li>
            <li class="sub-menu">
                <a class="dropdown waves-effect" href="javascript:;" title="Ranking"><i class="fa fa-trophy"></i> Ranking</a>
                <ul class="sub">
                    <li>
                        <a class="waves-effect" href="#" itemprop="url">
                            <span itemprop="name">Players</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" href="#" itemprop="url">
                            <span itemprop="name">Groups</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" href="#" itemprop="url">
                            <span itemprop="name">Company</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="waves-effect" href="#" itemprop="url" title="News">
                    <span itemprop="name"><i class="fa fa-newspaper-o"></i> News</span></a>
            </li>
            <li>
                <a class="waves-effect" href="#" itemprop="url" title="Inbox">
                    <span itemprop="name"><i class="fa fa-inbox"></i> Inbox</span></a>
            </li>
            <h2>Submenu</h2>
            <li>
                <a class="waves-effect" href="#" itemprop="url" title="Settings">
                    <span itemprop="name"><i class="fa fa-gear"></i> Settings</span></a>
            </li>
            <li>
                <a class="waves-effect" href="#" itemprop="url" title="My File">
                    <span itemprop="name"><i class="fa fa-file"></i> My File</span></a>
            </li>
            <li>
                <a class="waves-effect" href="#" itemprop="url" title="Upload">
                    <span itemprop="name"><i class="fa fa-cloud-upload"></i> Upload</span></a>
            </li>
        </ul>
    </div>
</nav>